@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --primary-color: #3681AE;
  --secondary-color: #3681AE;
  --c2: #287aadfc;
  --c3: #00F7FF;
  --c4: #e3eaee;
  --c5: #3680ae28;
  --c6: #3B3B3B;
  --c7: rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #FCFCFF;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 90%;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  z-index: 1000;
}

.nav-container {
  background-color: var(--c2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

.nav-container a {
  color: #fff;
}

.project-links {
  padding-top: 1em;
}

.project-links .links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 1em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 1.5em;
  border-bottom: 0.2px solid var(--c7);
}

header .logoContainer {
  color: var(--c3);
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
}

.textLogo {
  display: none;
}

.logo {
  width: 250px;
}

header nav ul {
  font-size: 1rem;
}

.terms {
  background-color: var(--primary-color);
  min-height: 100vh;
  color: var(--c4);
  padding: 4rem 2rem;
  text-align: justify;
}

.terms h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 3rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20vw;
  max-width: 1000px;
  margin: 0 auto;
}

.hire-me-btn {
  color: var(--primary-color);
  background-color: #FFFFFF;
  padding: 0.8em 3.6em;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.consult {
  background-color: var(--primary-color);
  color: #FFFFFF;
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  width: 100%;
  display: block;
}

.consult > a {
  color: var(--c4);
}

@media screen and (max-width: 500px) {
  .textLogo {
    /* display: unset; */
  }
  .logo {
    width: 180px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
  font-size: 0.8rem;
}

header nav ul a {
  display: block;
}

ul > li > a > img {
  width: 30px;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background-color: var(--primary-color);
  color: #fff;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em auto;
  margin-bottom: 2.5rem;
  min-width: 200px;
  font-weight: bold;
  color: var(--c4);
}

.meet p {
  margin: 0;
  margin-bottom: 2.5rem;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.service {
  border: 0.2px solid var(--c7);
  border-radius: 0.4rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
  min-width: 50%;
}

.service-description {
  font-size: 0.7rem;
}

.featured img {
  border-radius: 0.5em;
}

.featured::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--c5);
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: #000000;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  text-align: left;
  color: var(--c6);
  margin-bottom: 8px;
  line-height: 1.5;
  font-weight: 500;
}

.project-links {
  margin-bottom: 3em;
}

.portfolio-container > a > img {
  border-radius: 0.5em;
  margin-bottom: 2em;
}

.about {
  background-color: var(--primary-color);
  color: white;
  display: -ms-grid;
  display: grid;
}

.about p {
  padding: 1em;
  margin: 2em -0.5em;
  border-radius: 0.2em;
  text-align: left;
}

.about .about-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.about .profile img {
  width: 100%;
  border-radius: 0.5em;
}

.colored {
  color: var(--primary-color);
}

.hire-me-btn {
  color: var(--primary-color);
  background-color: #FFFFFF;
  padding: 0.8em 1.6em;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.footer {
  background-color: var(--c2);
  color: #fff;
  width: 100%;
  padding: 1em;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.support {
  text-align: left;
}

.support p {
  display: flex;
  gap: 1rem;
}

.copyright {
  padding: 0.8rem 0;
}

.legal {
  text-align: left;
}

.legal > a {
  color: var(--c4);
}

.disclamer {
  font-size: 0.8rem;
  max-width: 1000px;
  margin: 4rem auto;
  text-align: justify;
}

.social-footer > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  margin: 2em auto;
  width: 100%;
  max-width: 400px;
}

.social-footer > ul a {
  color: #fff;
}

.lawyerCardMobile {
  /* border: 1px solid var(--secondary-color); */
  background-color: whitesmoke;
  color: var(--c6);
  border-radius: 1rem;
  padding: 1rem;
  /* color: text-80; */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.lawyerCardMobile:hover {
  outline: 1px solid var(--primary-color);
}
.lawyerCardMobile .profile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.lawyerCardMobile .profile .profileImage {
  width: clamp(10px, 30%, 120px);
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: text-100; */
}
.lawyerCardMobile .profile .profileImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lawyerCardMobile .profile .name {
  width: 100%;
  margin-top: 0.4rem;
}
.lawyerCardMobile .profile .name * {
  margin: 0;
}
.lawyerCardMobile .profile .name p {
  font-size: 0.8rem;
  /* color: text-60; */
  margin: 0.2rem 0 0.4rem 0;
  padding: 0;
}
.lawyerCardMobile .profile .name .rateAndRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}
.lawyerCardMobile .profile .name .rateAndRating .rate {
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 1rem;
}
.lawyerCardMobile .profile .name .rateAndRating .rate span {
  margin-left: 0.2rem;
}
.lawyerCardMobile .details {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  margin-right: 1rem;
}
.lawyerCardMobile .details .descriptionList .description {
  /* color: text-100; */
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.4rem;
}
.lawyerCardMobile .details .descriptionList .description .tag {
  font-weight: 600;
}
.lawyerCardMobile .details .descriptionList .description .value {
  /* color: text-60; */
  margin-left: 0.6rem;
}
.lawyerCardMobile .cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.lawyerCardMobile .cta button {
  border-radius: 2px;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.lawyerCardMobile {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .floating-button {
    bottom: 40px;
    right: 40px;
  }
  .nav-container {
    position: static;
  }
  header nav ul {
    font-size: 1rem;
  }
  .social-footer > ul {
    display: none;
  }
  .portfolio,
  .featured {
    text-align: left;
  }
  .featured,
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
  }
  .left,
  .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .featured-desc {
    margin-bottom: 0;
  }
  .right {
    margin-left: 3em;
    display: flex;
    gap: 1rem;
  }
  .portfolio-container > a > img {
    margin-left: 3em;
  }
  .about > .content > p {
    text-align: left;
    width: 100%;
    padding: 2em;
    line-height: 1.8;
  }
  .about .profile img {
    width: 50%;
  }
  .about__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .lawyerCardMobile {
    margin-bottom: 1rem;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  .lawyerCardMobile {
    margin-bottom: 1rem;
  }
  .hero {
    height: 90vh;
  }
  section {
    padding: 4em;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    background-color: unset;
  }
  .nav-container header {
    background-color: var(--c2);
    padding: 2em 2em 2em 4em;
  }
  .nav-container .social-header {
    display: block;
    padding-right: 4em;
  }
  .nav-container .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 70%;
    float: right;
  }
  .nav-container .social-header ul li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .nav-container .projects-page {
    background-color: var(--c2);
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    background-color: unset;
    padding: 0;
  }
  .hero .content {
    background-color: var(--primary-color);
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
    width: 80%;
  }
  .hero .content .meet {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1.3em;
  }
  .hero .content .meet p {
    margin-left: 0.5em;
    font-size: 1rem;
    font-weight: 400;
  }
  .hero .hero-design {
    display: unset;
    color: var(--c6);
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .hero .hero-design p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 2rem;
  }
  .hero .hero-design p img {
    width: 120px;
  }
  .about__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .lawyerCardMobile {
    margin-bottom: 0;
  }
  header {
    padding: 1em 1em 1em 10em !important;
  }
  .social-header {
    padding: 2em 10em 2em 0 !important;
  }
  section {
    padding: 5em 10em 4em 10em !important;
  }
  .hero .content {
    padding: 6em 8em 6em 10em !important;
  }
  .footer {
    padding: 2em !important;
  }
  .about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 320px);
            transform: translate(0px, 320px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 320px);
            transform: translate(0px, 320px);
  }
}
/*# sourceMappingURL=main.css.map */